/* Reset and Fullscreen Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex: 1;
  height: 100%; /* Ensure both html and body occupy the full height */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  height: 100%; /* Full viewport height */
}

.place-picker-container {
  padding: 20px;
}

gmp-map {
  height: 100%;
}

/* Navbar */
nav {
  box-shadow: none;
}

nav .brand-logo {
  font-size: 1.8rem;
}

.sidenav {
  width: 250px;
}

.container {
  flex: 1; /* Grow to fill the space between navbar and footer */
}

footer {
  flex-shrink: 0; /* Ensure footer does not shrink */
  text-align: center;
  background-color: teal;
  color: white;
  padding: 20px 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .sidenav {
    width: 200px;
  }

  iframe {
    width: 95%; /* Adjust iframe size for smaller screens */
    height: 95%; /* Adjust iframe size for smaller screens */
  }
}
